<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">


	<context:annotation-config></context:annotation-config>

	<bean id="mongoClinet" class="com.mongodb.MongoClient">
		<constructor-arg value="192.168.0.70" />
		<constructor-arg value="27017" />
	</bean>

	<bean id="mongoDbFactory"
		class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
		<constructor-arg ref="mongoClinet" />
		<constructor-arg value="test" />
	</bean>

	<!-- <mongo:mongo id="mongo" host="192.168.0.70" port="27017" /> <mongo:db-factory 
		id="mongoDbFactory" dbname="test33"/> -->


	<!-- Converter는 스프링 데이터가 Collection 과 Object을 매핑하는 과정을 대신한다 MongoDbObject 
		<-> Collection mapping Object -->
	<mongo:mapping-converter id="mongoConverter">
		<mongo:custom-converters>
			<mongo:converter>
				<bean class="com.latis.test.converter.TestReadConverter"></bean>
			</mongo:converter>
			<mongo:converter>
				<bean class="com.latis.test.converter.TestWriteConverter"></bean>
			</mongo:converter>
		</mongo:custom-converters>

	</mongo:mapping-converter>


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"></constructor-arg>
		<constructor-arg name="mongoConverter" ref="mongoConverter"></constructor-arg>
	</bean>
<!-- 
	<mongo:repositories base-package="com.latis.test.repository"
		factory-class="com.latis.test.repository.factory.MyRepositoryFactoryBean"
		mongo-template-ref="mongoTemplate">
	</mongo:repositories>
 -->
	<mongo:repositories base-package="com.latis.test.repository" base-class="com.latis.test.repository.TestRepositoryCustomImpl"></mongo:repositories>



</beans>

